.carousel {
  display: flex;
  flex-flow: column nowrap;
  max-width: 384px;
  margin-inline: auto;
  border-radius: 16px;
  box-shadow: 0 0 4px hsla(var(--black-values) / 0.04);
  background-color: var(--white);

  .carousel__header-link,
  .carousel__card {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .carousel__header {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 10px;

    .carousel__header-link {
      display: flex;
      align-items: center;
      height: 36px;
      border-radius: 100px;
      padding: 0 12px;
      transition: background-color 0.25s;

      &:hover {
        background-color: var(--blue-gray-50);
      }
    }

    .carousel__header-icon {
      height: 24px;
      flex-shrink: 0;
    }

    .carousel__header-title {
      margin-inline: 6px;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .carousel__body {
    padding-block: 2px;

    .carousel__container {
      overflow: hidden;
      margin: 0 24px;
    }

    .carousel__list {
      list-style: none;
      display: flex;
      gap: 16px;
      padding: 0;
    }

    .carousel__item {
      flex: 0 0 160px;

      &:hover {
        [data-type="character"] {
          transform: scale(1.04);
        }

        .carousel__game-title,
        .carousel__game-desc {
          opacity: 0.6;
        }
      }

      .carousel__image-group {
        overflow: hidden;
        position: relative;
        width: 160px;
        border-radius: 16px;
        padding-top: 3px;

        [data-type="character"] {
          position: relative;
          z-index: 2;
          display: block;
          width: 100%;
          transition: transform 0.4s var(--ease-out-quad);
        }

        [data-type="background"] {
          position: absolute;
          z-index: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          border-radius: 16px;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }

      .carousel__game-title {
        overflow: hidden;
        width: 100%;
        padding-top: 8px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .carousel__game-desc,
      .carousel__game-genre {
        font-size: 14px;
        font-weight: 350;
        letter-spacing: -0.01em;
      }

      .carousel__game-genre {
        display: block;
        margin-top: 8px;
        font-style: normal;
        color: hsla(var(--black-values) / 0.5);
      }
    }
  }

  .carousel__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 62px;

    .carousel__indicator {
      font-size: 18px;
      color: var(--blue-gray-700);
      user-select: none;

      [data-current] {
        font-weight: 700;
        color: var(--blue-gray-950);
      }
    }

    .carousel__button {
      --size: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      height: var(--size);
      border: 1px solid var(--blue-gray-100);
      border-radius: 50%;
      background: transparent;
      transition: background-color 0.1s;

      &:hover {
        background-color: var(--blue-gray-50);
      }

      &[data-direction="previous"] {
        order: -1;
      }

      svg {
        pointer-events: none;
        display: block;
      }
    }
  }
}