@layer base, theme, components, utilities;

@import './common/_normalize.css' layer(base);
@import './common/_base.css' layer(base);

@import './common/_theme.css' layer(theme);
@import './_theme.css' layer(theme);

@import './components/_carousel.css' layer(components);

@import './common/_animation.css' layer(utilities);
@import './common/_a11y.css' layer(utilities);

@import './_demo.css';